<h3>{{viewTitle}}</h3>

<form action="/movie" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{movie._id}}">
    <div class="form-group">
        <label>Movie Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="Movie Full Name" value="{{movie.fullName}}">
        <div class="text-danger">
            {{movie.fullNameError}}</div>
    </div>
    <div class="form-group">
        <label>Image</label>
        <input type="text" class="form-control" name="image" placeholder="Image" value="{{movie.image}}">
        <div class="text-danger">
            {{movie.emailError}}</div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Year</label>
            <input type="text" class="form-control" name="year" placeholder="Year" value="{{movie.year}}">
        </div>
        <div class="form-group col-md-6">
            <label>Summary</label>
            <input type="text" class="form-control" name="summary" placeholder="Summary" value="{{movie.summary}}">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/movie/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>
